alembic==1.17.2
black==25.12.0
boto3==1.34.25
bcrypt==4.1.2
cryptography==46.0.3
dotenv==0.9.9
fastapi==0.125.0
flake8==7.3.0
httpx==0.28.1
mockito==1.5.5
pyjwt==2.8.0
pylint==4.0.4
psycopg2-binary==2.9.11
pytest==9.0.2
pytest-cov==7.0.0
python-decouple==3.8
python-dotenv==1.2.1
SQLAlchemy==2.0.45
uvicorn==0.38.0
